p {
    font-size: 40px;
}

body {
    background-color: #616161;
}

.summaryContainer {
    margin: auto;
    width: 50%;
    align-items: center;
}

.summaryHeader {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
    text-align: center;
}

.summaryTable {
    margin: auto;
}

.summaryTable span {
    font-size: 70px;
}

.summaryTable label {
    font-size: 16px;
}

.summaryTable tr td {
    padding-right: 100px;
}